body {
  margin: 0;
  padding: 0;
}

/* navigation */

nav {
  display: flex;
  width: 100%;
  background-color: #9dc183;
}

nav a {
  text-decoration: none;
  color: black;
  width: 40%;
  color: white;
}

nav a#logo {
  margin-left: 10px;
}

nav h1 {
  margin-bottom: 5px;
}

nav h3 {
  margin-top: 5px;
}

nav ul {
  display: flex;
  width: 60%;
  padding-left: 0;
  align-self: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 20%;
}

nav ul li a {
  font-size: 1.15em;
}

/* Figure */

figure img {
  width: 250px;
  height: 250px;
}
