body {
  margin: 0;
  padding: 0;
}

/* navigation */

nav {
  display: flex;
  width: 100%;
  background-color: #9dc183;
}

nav a {
  text-decoration: none;
  color: black;
  width: 40%;
  color: white;
}

nav a#logo {
  margin-left: 10px;
}

nav h1 {
  margin-bottom: 5px;
}

nav h3 {
  margin-top: 5px;
}

nav ul {
  display: flex;
  width: 60%;
  padding-left: 0;
  align-self: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 20%;
}

nav ul li a {
  font-size: 1.15em;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

/* home page */

figure img {
  width: 400px;
  height: 300px;
}
/* about page */

#main-section {
  display: flex;
  flex-direction: column;
}

#image-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#about-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#about-section {
  margin: 20px;
}

/* contact page */

#main-contact-section {
  display: flex;
  flex-direction: column;
}

#contact-paragraph-section {
  margin: 20px;
}

#contact-section {
  margin: 20px;
}

#contact-section ul li {
  list-style-type: none;
  margin: 15px;
}
